
/datax-executor/target/
/datax-executor/datax-executor.iml
/datax-core/datax-core.iml
/datax-core/target/
/datax-admin/datax-admin.iml
/datax-admin/target/
/.idea/
/datax-admin/.idea/
/datax-registry/datax-registry.iml
/datax-registry/target/
/datax-rpc/datax-rpc.iml
/datax-rpc/target/
/datax-all.iml
/logs/
*-dev*
/data/
/build/
/packages/
/datax-assembly/target/
/tortoiseX-datasource/tortoiseX-datasource-hbase/tortoiseX-datasource-hbase.iml
/tortoiseX-datasource/tortoiseX-datasource-mongodb/tortoiseX-datasource-mongodb.iml
/tortoiseX-datasource/tortoiseX-datasource-spi/tortoiseX-datasource-spi.iml
/tortoiseX-datasource/tortoiseX-datasource-mysql/tortoiseX-datasource-mysql.iml
/tortoiseX-datasource/tortoiseX-datasource-hive/tortoiseX-datasource-hive.iml
