
/datax-executor/target/
/datax-executor/datax-executor.iml
/datax-core/datax-core.iml
/datax-core/target/
/datax-admin/datax-admin.iml
/datax-admin/target/
/.idea/
/datax-admin/.idea/
/datax-registry/datax-registry.iml
/datax-registry/target/
/datax-rpc/datax-rpc.iml
/datax-rpc/target/
/datax-all.iml
/logs/
*-dev*
/data/
/build/
/packages/
/datax-assembly/target/
