/datax-executor/target/
/datax-core/target/
/datax-admin/target/
/.idea/
/datax-admin/.idea/
/datax-registry/datax-registry.iml
/datax-registry/target/
/datax-rpc/target/
/datax-all.iml
/logs/
*-dev*
/data/
/build/
/packages/
/datax-assembly/target/
*.iml
/datax-transformer/target/
/applogs/
